<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Маппинги клиента</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/navbar :: shop_navbar}"></div>

<div class="container mt-5">
    <h2 th:text="'Редактирование маппинга для клиента: ' + ${clientName}"></h2>

    <!-- Форма для редактирования маппинга -->
    <form th:action="@{'/shop/' + ${client.name} + '/mapping/save'}" method="post">
        <input type="hidden" name="entityType" th:value="${entityType}"/>

        <div class="mb-3">
            <label for="configName" class="form-label">Название конфигурации</label>
            <input type="text" id="configName" name="configName" class="form-control" required/>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Поле</th>
                <th>Описание</th>
                <th>Заголовок</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${fieldDescriptions}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
                <td>
                    <input type="text" th:name="${entry.key}" class="form-control" th:value="${entry.value}"/>
                </td>
            </tr>
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

<div th:if="${success}">
    <p th:text="${success}"></p>
</div>

</body>
</html>
