<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление настройки маппинга</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/navbar :: shop_navbar}"></div>
<h1>Добавление настройки маппинга</h1>
<form action="#" th:action="@{/shop/{clientName}/mapping/add-config(clientName=${currentClientName})}" th:object="${mappingConfig}" method="post">
    <label for="entityType">Тип сущности:</label>
    <input type="text" th:field="*{entityType}" id="entityType" required/>
    <br/><br/>

    <label for="columnName">Имя столбца в файле:</label>
    <input type="text" th:field="*{columnName}" id="columnName" required/>
    <p th:if="${#fields.hasErrors('columnName')}" th:errors="*{columnName}" class="error"></p>
    <br/><br/>

    <label for="fieldName">Имя поля в сущности:</label>
    <input type="text" th:field="*{fieldName}" id="fieldName" required/>
    <br/><br/>

    <button type="submit">Сохранить</button>
</form>

<p th:if="${param.success}" class="success">Настройка маппинга успешно сохранена!</p>
<p th:if="${param.error}" class="error">Ошибка: Клиент не найден.</p>
</body>
</html>