<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Маппинги клиента</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/navbar :: shop_navbar}"></div>

<h1>Маппинги для клиента <span th:text="${client.name}"></span></h1>

<table>
    <thead>
    <tr>
        <th>Тип маппинга</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mappingConfig : ${mappingConfigs}">
        <td th:text="${mappingConfig.type}"></td>
        <td>
            <a th:href="@{/shop/{clientName}/mapping/edit/{type}(clientName=${client.name}, type=${mappingConfig.type})}">Редактировать</a>
        </td>
    </tr>
    </tbody>
</table>

<<form th:action="@{/shop/{clientName}/mapping/save(clientName=${client.name})}" method="post">
    <label for="configName">Имя настройки:</label>
    <input type="text" id="configName" name="configName" required>

    <label for="type">Тип маппинга:</label>
    <select name="type" id="type">
        <option value="Product">Продукт</option>
        <option value="SiteData">Данные сайта</option>
        <option value="Region">Региональные данные</option>
    </select>

    <label for="mappingJson">JSON конфигурации:</label>
    <textarea name="mappingJson" id="mappingJson" rows="10" cols="50"></textarea>

    <button type="submit">Сохранить</button>
</form>

<div th:if="${success}">
    <p th:text="${success}"></p>
</div>

</body>
</html>
