<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ошибка</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="~{fragments/navbar :: header-css}"></div>
</head>
<body>
<div th:replace="~{fragments/navbar :: header}"></div>
<div class="container">
    <h1>Произошла ошибка</h1>
    <p th:text="${error}">Error message</p>
    <a href="/" class="btn btn-primary">На главную</a>
</div>
<div th:replace="~{fragments/navbar :: footer}"></div>
</body>
</html>